<!-- Modal -->
<div class="modal fade" id="myModal<%= gif.id %>" role="dialog">
  <div class="modal-dialog">

<!-- Modal content?-->
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><%= gif.title %></h4>
      </div>
      <div class="modal-body">
        <% if gif.file.blank? %>
          <%= image_tag(gif.image) %>
        <% else %>
          <%= image_tag(attachment_url(gif, :file)) %>
        <% end %>
      </div>
       <%= render partial: 'pins/voting', :locals => {:gif => gif} %>
      </div>
    </div>
  </div>
