<div class="modal-footer" id="votebase">
  <ul class="list-inline">
    <li><%= time_ago_in_words(gif.created_at) %> ago by <%= gif.user.email %></li>
  </ul>
  <div classe="well"><%= gif.image || attachment_url(gif, :file) %></div>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_pin_path(gif), class: "btn btn-default btn-sm" %>
      <div class="btn-group">
        <ul class="list-inline">
        <% if current_user.voted_up_on?(gif) %>
          <%= button_to upvote_pin_path(gif), class: "btn btn-default btn-sm", remote: true do %>
            <li class="disabled"><i class="glyphicon glyphicon-chevron-up"> Upvote</i></li>
          <% end %>
          <%= button_to downvote_pin_path(gif), class: "btn btn-default btn-sm", remote: true do %>
            <li class="glyphicon glyphicon-chevron-down"> Downvote </li>
          <% end %>
        <% elsif current_user.voted_down_on?(gif) %>
          <%= button_to upvote_pin_path(gif), class: "btn btn-default btn-sm", remote: true do %>
            <li class="glyphicon glyphicon-chevron-up"> Upvote</li>
          <% end %>
          <%= button_to downvote_pin_path(gif), class: "btn btn-default btn-sm", remote: true do %>
            <li class="disabled"><i class="glyphicon glyphicon-chevron-down"> Downvote </i></li>
          <% end %>
        <% else %>
          <%= button_to upvote_pin_path(gif), class: "btn btn-default btn-sm", remote: true do %>
            <li class="glyphicon glyphicon-chevron-up"> Upvote</li>
          <% end %>
          <%= button_to downvote_pin_path(gif), class: "btn btn-default btn-sm", remote: true do %>
            <li class="glyphicon glyphicon-chevron-down"> Downvote </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
</div>
