<!DOCTYPE html>
<html>
<head>
  <title>OMG</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <nav role="navigation" class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <i class="fa fa-twitter-square fa-3x pull-left"></i>
            <%= link_to "OMG Gifs 'n' Stuff", root_path, class: "navbar-brand" %>
        </div>

        <div id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "New Pin", "#myModal12", :id => "new_link_modal", "data-toggle" => "modal", "data-target" => "#myModal2" %></li>
              <%= render :partial => "pins/form", :layout => "pins/dropdown", :locals => {:title => "New Pin", :id => "NewPin"} %>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Sign In", user_session_path, :class => 'navbar-link' %></li>
              <% end %>
              <%= form_tag "#", :method => :get, class: "navbar-form navbar-left" do %>
              <%= text_field_tag :search_item, params[:search_item], placeholder: 'Search...', :autocomplete => :off, class: "form-control"  %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Shows errors when one is present -->
    <div class="container">
      <div class="text-center col-xs-3 col-xs-offset-9">
        <% if flash[:error] %>
          <p class='error'><%=h flash[:error] %></p>
        <% end %>
        <% if flash[:notice] %>
          <p class='notice'><%=h flash[:notice] %></p>
        <% end %>
      </div>

      <%= yield %>

    </div>

  </div>


  <div class="footer"></div>

</body>
</html>
